<!DOCTYPE html>
<html lang="en" ng-app="Styleapp">

<head>
    <meta charset="UTF-8">
    <title>Exem Novitskaya</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

</head>

<body ng-controller="StyleController">
    <h3>Task 5</h3>
    <h4>Горизонтальные линии</h4>
    <p>Выберите значения параметров, которые требуется изменить и нажмите кнопку
        <strong>Выполнить</strong>
    </p>
    <hr id="hr1">
    <!-- <hr color="{{color}}" size="{{sizeHR}}px" width="{{widthHR}}px" align-content="left"> -->
    <table>
        <tr>
            <td>
                <input type="radio" name="aling" id="aling" checked>LEFT
                <br>
                <input type="radio" name="aling" id="aling">CENTER
                <br>
                <input type="radio" name="aling" id="aling">RIGHT
                <br>
                <input type="number" name="" id="sizeHr" ng-model="sizeHR">
                <label for="sizeHr">Толщина линии</label>
                <br>
                <input type="number" name="" id="widthHr" ng-model="widthHR">
                <label for="widthHr">Длина линии</label>
            </td>
            <td>Цвет линии
                <br>
                <select name="" id="colorHR" ng-model="color">
                    <option value="{{x.id}}" ng-disabled="x.color==color1" ng-repeat="x in DBcolors">{{x.color}}</option>
                </select>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <button id="btn1" ng-click="verify();">Выполнить </button>
    <button id="btn2">Обновить</button>
    
</body>

</html>
